<a href="https://colab.research.google.com/github/karthikvvk/nlp-stat-draw-intern/blob/main/templates/aistudio_gemini_prompt_freeform.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### Copyright 2023 Google LLC

In [ ]:
# @title Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

## Setup

In [7]:
import os
print(os.getcwd())

/content

In [5]:
!pip install -U -q "google-generativeai>=0.8.2" pandas==2.2.2

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 87.1 MB/s eta 0:00:00

In [8]:
import os
import google.generativeai as genai
import pandas as pd




genai.configure(api_key="")

# Create the model
generation_config = {
  "temperature": 1,
  "top_p": 0.95,
  "top_k": 40,
  "max_output_tokens": 8192,
  "response_mime_type": "text/plain",
}

model = genai.GenerativeModel(
  model_name="gemini-1.5-flash",
  generation_config=generation_config,
)

chat_session = model.start_chat(
  history=[
  ]
)
# Load the CSV dataset
csv_path = '/content/sample_data/data.csv'  # Change this to your actual file path
dataset = pd.read_csv(csv_path)

# Ensure the dataset has 'date' and 'sales' columns (adjust as necessary)
# Assuming the dataset has at least these two columns: 'date' and 'sales'

# Convert dataset to a string representation for the model
dataset_str = dataset.head(20).to_string(index=False)  # Optional: show only a small sample of the dataset
user_query = input("enter your query: ")
# Query to generate Python code for a line graph
query = f"""
dataset insights:
{dataset.info()}
{dataset.describe(include='all')}

Dataset:

{dataset_str}

Generate Python code using matplotlib if this query ask for graaphs/charts
query: "{user_query}"
if not asking for graphs/charts then just answer the question relevent to the dataset.

NOTE:Do not include citations or sources and decorative explanations.Just return the code.Full dataset available at 'data.csv'.
"""

print(query)
# Get the response from the model
response = chat_session.send_message(query)

fh = open("cd.py", "w")
fo = response.text
fo = fo.replace("```python", "\n").replace("```", "\n")
fh.write(fo)
fh.close()
os.system("python cd.py")


print(response)

enter your query: which country buy more cars
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747 entries, 0 to 2746
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORDERNUMBER           2747 non-null   int64
 1   QUANTITYORDERED       2747 non-null   int64
 2   PRICEEACH             2747 non-null   float64
 3   ORDERLINENUMBER       2747 non-null   int64
 4   SALES                 2747 non-null   float64
 5   ORDERDATE             2747 non-null   object
 6   DAYS_SINCE_LASTORDER  2747 non-null   int64
 7   STATUS                2747 non-null   object
 8   PRODUCTLINE           2747 non-null   object
 9   MSRP                  2747 non-null   int64
 10  PRODUCTCODE           2747 non-null   object
 11  CUSTOMERNAME          2747 non-null   object
 12  PHONE                 2747 non-null   object
 13  ADDRESSLINE1          2747 non-null   object
 14  CITY                  2747 non-null   object
 15  POSTALCODE            2747 non-null   object
 16  COUNTRY               2747 non-null   object
 17  CONTACTLASTNAME       2747 non-null   object
 18  CONTACTFIRSTNAME      2747 non-null   object
 19  DEALSIZE              2747 non-null   object
dtypes: float64(2), int64(5), object(13)
memory usage: 429.3+ KB

dataset insights:
None
         ORDERNUMBER  QUANTITYORDERED    PRICEEACH  ORDERLINENUMBER  \
count    2747.000000      2747.000000  2747.000000      2747.000000
unique           NaN              NaN          NaN              NaN
top              NaN              NaN          NaN              NaN
freq             NaN              NaN          NaN              NaN
mean    10259.761558        35.103021   101.098952         6.491081
std        91.877521         9.762135    42.042549         4.230544
min     10100.000000         6.000000    26.880000         1.000000
25%     10181.000000        27.000000    68.745000         3.000000
50%     10264.000000        35.000000    95.550000         6.000000
75%     10334.500000        43.000000   127.100000         9.000000
max     10425.000000        97.000000   252.870000        18.000000

               SALES   ORDERDATE  DAYS_SINCE_LASTORDER   STATUS   PRODUCTLINE  \
count    2747.000000        2747           2747.000000     2747          2747
unique           NaN         246                   NaN        6             7
top              NaN  14-11-2018                   NaN  Shipped  Classic Cars
freq             NaN          38                   NaN     2541           949
mean     3553.047583         NaN           1757.085912      NaN           NaN
std      1838.953901         NaN            819.280576      NaN           NaN
min       482.130000         NaN             42.000000      NaN           NaN
25%      2204.350000         NaN           1077.000000      NaN           NaN
50%      3184.800000         NaN           1761.000000      NaN           NaN
75%      4503.095000         NaN           2436.500000      NaN           NaN
max     14082.800000         NaN           3562.000000      NaN           NaN

               MSRP PRODUCTCODE           CUSTOMERNAME           PHONE  \
count   2747.000000        2747                   2747            2747
unique          NaN         109                     89              88
top             NaN    S18_3232  Euro Shopping Channel  (91) 555 94 44
freq            NaN          51                    259             259
mean     100.691664         NaN                    NaN             NaN
std       40.114802         NaN                    NaN             NaN
min       33.000000         NaN                    NaN             NaN
25%       68.000000         NaN                    NaN             NaN
50%       99.000000         NaN                    NaN             NaN
75%      124.000000         NaN                    NaN             NaN
max      214.000000         NaN                    NaN             NaN

              ADDRESSLINE1    CITY POSTALCODE COUNTRY CONTACTLASTNAME  \
count                 2747    2747       2747    2747            2747
unique                  89      71         73      19              76
top     C- Moralzarzal, 86  Madrid      28034     USA          Freyre
freq                   259     304        259     928             259
mean                   NaN     NaN        NaN     NaN             NaN
std                    NaN     NaN        NaN     NaN             NaN
min                    NaN     NaN        NaN     NaN             NaN
25%                    NaN     NaN        NaN     NaN             NaN
50%                    NaN     NaN        NaN     NaN             NaN
75%                    NaN     NaN        NaN     NaN             NaN
max                    NaN     NaN        NaN     NaN             NaN

       CONTACTFIRSTNAME DEALSIZE
count              2747     2747
unique               72        3
top               Diego   Medium
freq                259     1349
mean                NaN      NaN
std                 NaN      NaN
min                 NaN      NaN
25%                 NaN      NaN
50%                 NaN      NaN
75%                 NaN      NaN
max                 NaN      NaN

Dataset:

 ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER   SALES  ORDERDATE  DAYS_SINCE_LASTORDER  STATUS PRODUCTLINE  MSRP PRODUCTCODE               CUSTOMERNAME            PHONE                            ADDRESSLINE1        CITY POSTALCODE   COUNTRY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
       10107               30      95.70                2 2871.00 24-02-2018                   828 Shipped Motorcycles    95    S10_1678          Land of Toys Inc.       2125557818                 897 Long Airport Avenue         NYC      10022       USA              Yu             Kwai    Small
       10121               34      81.35                5 2765.90 07-05-2018                   757 Shipped Motorcycles    95    S10_1678         Reims Collectables       26.47.1555                      59 rue de l'Abbaye       Reims      51100    France         Henriot             Paul    Small
       10134               41      94.74                2 3884.34 01-07-2018                   703 Shipped Motorcycles    95    S10_1678            Lyon Souveniers +33 1 46 62 7555           27 rue du Colonel Pierre Avia       Paris      75508    France        Da Cunha           Daniel   Medium
       10145               45      83.26                6 3746.70 25-08-2018                   649 Shipped Motorcycles    95    S10_1678          Toys4GrownUps.com       6265557265                      78934 Hillside Dr.    Pasadena      90003       USA           Young            Julie   Medium
       10168               36      96.66                1 3479.76 28-10-2018                   586 Shipped Motorcycles    95    S10_1678       Technics Stores Inc.       6505556809                       9408 Furth Circle  Burlingame      94217       USA          Hirano             Juri   Medium
       10180               29      86.13                9 2497.77 11-11-2018                   573 Shipped Motorcycles    95    S10_1678   Daedalus Designs Imports       20.16.1555                 184, chausse de Tournai       Lille      59000    France           Rance          Martine    Small
       10188               48     114.84                1 5512.32 18-11-2018                   567 Shipped Motorcycles    95    S10_1678               Herkku Gifts    +47 2267 3215             Drammen 121, PR 744 Sentrum      Bergen     N 5804    Norway          Oeztan           Veysel   Medium
       10211               41     114.84               14 4708.44 15-01-2019                   510 Shipped Motorcycles    95    S10_1678           Auto Canal Petit   (1) 47.55.6555                       25, rue Lauriston       Paris      75016    France         Perrier        Dominique   Medium
       10223               37     107.18                1 3965.66 20-02-2019                   475 Shipped Motorcycles    95    S10_1678 Australian Collectors, Co.     03 9520 4555                       636 St Kilda Road   Melbourne       3004 Australia        Ferguson            Peter   Medium
       10237               23     101.44                7 2333.12 05-04-2019                   432 Shipped Motorcycles    95    S10_1678            Vitachrome Inc.       2125551500                       2678 Kingston Rd.         NYC      10022       USA           Frick          Michael    Small
       10251               28     113.88                2 3188.64 18-05-2019                   390 Shipped Motorcycles    95    S10_1678    Tekni Collectables Inc.       2015559350                           7476 Moss Rd.      Newark      94019       USA           Brown          William   Medium
       10263               34     108.14                2 3676.76 28-06-2019                   350 Shipped Motorcycles    95    S10_1678            Gift Depot Inc.       2035552570                     25593 South Bay Ln. Bridgewater      97562       USA            King            Julie   Medium
       10275               45      92.83                1 4177.35 23-07-2019                   326 Shipped Motorcycles    95    S10_1678          La Rochelle Gifts       40.67.8555            67, rue des Cinquante Otages      Nantes      44000    France         Labrune           Janine   Medium
       10285               36     113.88                6 4099.68 27-08-2019                   292 Shipped Motorcycles    95    S10_1678       Marta's Replicas Co.       6175558555                     39323 Spinnaker Dr.   Cambridge      51247       USA       Hernandez            Marta   Medium
       10299               23     112.93                9 2597.39 30-09-2019                   259 Shipped Motorcycles    95    S10_1678       Toys of Finland, Co.      90-224 8555                           Keskuskatu 45    Helsinki      21240   Finland       Karttunen            Matti    Small
       10309               41     107.18                5 4394.38 15-10-2019                   245 Shipped Motorcycles    95    S10_1678         Baane Mini Imports       07-98 9555                  Erling Skakkes gate 78     Stavern       4110    Norway      Bergulfsen            Jonas   Medium
       10318               46      94.74                1 4358.04 02-11-2019                   228 Shipped Motorcycles    95    S10_1678      Diecast Classics Inc.       2155551555                        7586 Pompton St.   Allentown      70267       USA              Yu            Kyung   Medium
       10329               42     104.67                1 4396.14 15-11-2019                   216 Shipped Motorcycles    95    S10_1678          Land of Toys Inc.       2125557818                 897 Long Airport Avenue         NYC      10022       USA              Yu             Kwai   Medium
       10341               41     188.73                9 7737.93 24-11-2019                   208 Shipped Motorcycles    95    S10_1678      Salzburg Collectables        6562-9555                             Geislweg 14    Salzburg       5020   Austria           Pipps            Georg    Large
       10361               20      72.55               13 1451.00 17-12-2019                   186 Shipped Motorcycles    95    S10_1678  Souveniers And Things Co.  +61 2 9495 8555 Monitor Money Building, 815 Pacific Hwy   Chatswood       2067 Australia          Huxley           Adrian    Small

Generate Python code using matplotlib if this query ask for graaphs/charts
query: "which country buy more cars"
if not asking for graphs/charts then just answer the question relevent to the dataset.

NOTE:Do not include citations or sources and decorative explanations.Just return the code.Full dataset available at 'data.csv'.

response:
GenerateContentResponse(
    done=True,
    iterator=None,
    result=protos.GenerateContentResponse({
      "candidates": [
        {
          "content": {
            "parts": [
              {
                "text": "```python\nimport pandas as pd\nimport matplotlib.pyplot as plt\n\ndata = pd.read_csv('data.csv')\n\ncountry_counts = data['COUNTRY'].value_counts()\n\nplt.figure(figsize=(10, 6))\ncountry_counts.plot(kind='bar')\nplt.xlabel('Country')\nplt.ylabel('Number of Orders')\nplt.title('Number of Orders by Country')\nplt.xticks(rotation=45, ha='right')\nplt.tight_layout()\nplt.show()\n\n```\n"
              }
            ],
            "role": "model"
          },
          "finish_reason": "STOP",
          "avg_logprobs": -0.022373670339584352
        }
      ],
      "usage_metadata": {
        "prompt_token_count": 3485,
        "candidates_token_count": 120,
        "total_token_count": 3605
      }
    }),
)

<table class="tfo-notebook-buttons" align="left">
  <td>
    <a target="_blank" href="https://ai.google.dev/gemini-api/docs"><img src="https://ai.google.dev/static/site-assets/images/docs/notebook-site-button.png" height="32" width="32" />Docs on ai.google.dev</a>
  </td>
  <td>
    <a target="_blank" href="https://github.com/google-gemini/cookbook/blob/main/quickstarts"><img src="https://www.tensorflow.org/images/GitHub-Mark-32px.png" />More notebooks in the Cookbook</a>
  </td>
</table>